In [1]:
import fix_yahoo_finance as yf
from pandas_datareader import data as pdr
from pandas_datareader import data
import pandas as pd
import quandl
import matplotlib.pyplot as plt
import urllib.request
import time
import numpy as np
from datetime import datetime

In [2]:
stocks_start = datetime(2019, 4, 10)
stocks_end = datetime(2019, 4, 20)

In [3]:
def pullData4aStock(stock, startdate, enddate,method="yahoo"):
    import fix_yahoo_finance as yf
    from pandas_datareader import data as pdr
    from pandas_datareader import data
    import pandas as pd
    from alpha_vantage.timeseries import TimeSeries
    import quandl

    '''
    :param stock: one stock symple e.g "AAPL"
    :param startdate: e.g. datetime(2014, 1, 2)
    :param enddate: e.g. datetime(2017, 11, 10)
    :return: a data frame
    '''
    if method=="yahoo":
        pulledData=pdr.get_data_yahoo(stock, stocks_start, stocks_end)
    elif method=="quandl":
        pulledData=quandl.get("WIKI/"+stock, start_date=stocks_start, end_date=stocks_end, api_key='MqrLS-v2QJ8BJrs_R5sm')
    elif method=="alpha":
        ts=TimeSeries(key='ACLIMSOTBCT8K3GV', output_format='pandas')
        pulledData, meta_data = ts.get_intraday(symbol='MSFT',interval='1min', outputsize='compact')

    return pulledData
    # return pdr.get_data_quandl(stock, stocks_start, stocks_end,api_key='MqrLS-v2QJ8BJrs_R5sm')

def pullData4StockList(stocksToPull, startdate, enddate,method="yahoo"):
    '''

    :param stock: e.g.  ["AAPL","CMG"]
    :param startdate: e.g. datetime(2014, 1, 2)
    :param enddate: e.g. datetime(2017, 11, 10)
    :return: a dictionary with key as stcok symbol
    '''
    Stocks_dict={x:pullData4aStock(x, startdate=startdate, enddate=enddate,method=method) for x in stocksToPull}

    return pd.concat(Stocks_dict.values(),keys=Stocks_dict.keys())

In [4]:
pulled=pullData4StockList(["CMG","AAPL"],startdate= stocks_start, enddate=stocks_end,method="yahoo")

In [5]:
pulled

                       High         Low        Open       Close    Volume  \
     Date
CMG  2019-04-10  719.440002  711.000000  711.000000  718.849976    460500
     2019-04-11  713.020020  705.179993  711.840027  707.530029    781800
     2019-04-12  715.250000  707.500000  707.500000  712.440002    417200
     2019-04-15  714.489990  708.349976  712.190002  712.270020    271800
     2019-04-16  716.650024  704.760010  716.650024  706.479980    444300
     2019-04-17  699.940002  686.500000  699.409973  688.210022    865900
     2019-04-18  700.000000  687.000000  695.000000  700.000000    644000
AAPL 2019-04-10  200.740005  198.179993  198.679993  200.619995  21695300
     2019-04-11  201.000000  198.440002  200.850006  198.949997  20900800
     2019-04-12  200.139999  196.210007  199.199997  198.869995  27760700
     2019-04-15  199.850006  198.009995  198.580002  199.229996  17536600
     2019-04-16  201.369995  198.559998  199.460007  199.250000  25696400
     2019-04-17  203.380005  198.610001  199.539993  203.130005  28906800
     2019-04-18  204.149994  202.520004  203.119995  203.860001  24195800

                  Adj Close
     Date
CMG  2019-04-10  718.849976
     2019-04-11  707.530029
     2019-04-12  712.440002
     2019-04-15  712.270020
     2019-04-16  706.479980
     2019-04-17  688.210022
     2019-04-18  700.000000
AAPL 2019-04-10  200.619995
     2019-04-11  198.949997
     2019-04-12  198.869995
     2019-04-15  199.229996
     2019-04-16  199.250000
     2019-04-17  203.130005
     2019-04-18  203.860001